<% layout("/layouts/boilerplate") %>
<body style="background-color: #f7f9fc;" >
  <div class="container-fluid ps-md-0">

    
        <div class="login d-flex align-items-center py-5">
          <div class="container" >
            <div class="row shadow p-3 mb-5 bg-white rounded" style="border-radius: 25px; margin: 3%; ">
              <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
              <div class="col">
  <div class="row">
    <div class="col-8 offset-2">
      <br /><br />
      <h3>Create a New Listing</h3>
      <br />
      <form
        method="post"
        action="/listings"
        novalidate
        class="needs-validation",
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            name="listing[title]"
            placeholder="Add title"
            type="text"
            class="form-control"
            required
          />
          <div class="valid-feedback">title look good</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="listing[description]"
            type="text"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">please write a short description</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Image Link</label>
          <input
            name="listing[image]"
            placeholder="Enter image URL"
            type="text"
            class="form-control"
          />
          <div class="invalid-feedback">Enter valid URl</div>
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              name="listing[price]"
              placeholder="15000"
              type="number"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Enter correct price</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              name="listing[country]"
              placeholder="Enter Country"
              type="text"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Country name should be valid</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            name="listing[location]"
            placeholder="Bhopal,Madhya Pradesh"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">location should be valid</div>
        </div>
        <br />
        <button class="btn btn-dark add-btn" type="submit">Add</button>
        <br /><br />
      </form>
    </div>
  </div>
    </div>
    </div></div>
  </div>
</div>
</div>
</div>
</div>

</body>


<!-- 
  <div class="container-fluid ps-md-0">
    <div class="row g-0">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6 bd-2px">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Welcome back!</h3>
  
                Sign In Form -->
                <!-- <form>
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                  </div>
  
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                    <label class="form-check-label" for="rememberPasswordCheck">
                      Remember password
                    </label>
                  </div>
  
                  <div class="d-grid">
                    <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Sign in</button>
                    <div class="text-center">
                      <a class="small" href="#">Forgot password?</a>
                    </div>
                  </div>
  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> --> 
<!-- </body> -->
