<% layout("/layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <br /><br />
      <h3>Create a New Listing</h3>
      <br />
      <form
        method="post"
        action="/listings"
        novalidate
        class="needs-validation",
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            name="listing[title]"
            placeholder="Add title"
            type="text"
            class="form-control"
            required
          />
          <div class="valid-feedback">title look good</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="listing[description]"
            type="text"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">please write a short description</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Image Link</label>
          <input
            name="listing[image]"
            placeholder="Enter image URL"
            type="text"
            class="form-control"
          />
          <div class="invalid-feedback">Enter valid URl</div>
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              name="listing[price]"
              placeholder="15000"
              type="number"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Enter correct price</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              name="listing[country]"
              placeholder="Enter Country"
              type="text"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Country name should be valid</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            name="listing[location]"
            placeholder="Bhopal,Madhya Pradesh"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">location should be valid</div>
        </div>
        <br />
        <button class="btn btn-dark add-btn" type="submit">Add</button>
        <br /><br />
      </form>
    </div>
  </div>
</body>
